<<<template "base/base.html" .>>>

<<<define "meta">>>

<meta name="description" content="Token 空投">
<meta name="keywords" content="Token 空投" />
<title>关于我</title>

<<<end>>>

<<<define "head">>>

<link href="/static/css/app1.css" rel="stylesheet">
<link href="/static/css/love.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<<<end>>>

<<<define "body">>>
<div class="wrapper single margin-top-80 margin-bottom-50">
  <div class="container">
    <h2>站长</h2>
    <h5>寻  佳人联姻 共度此生</h5>
    <article id="post-9224" class="temperature-0 post-9224 airdrop type-airdrop status-publish has-post-thumbnail hentry" itemtype="http://schema.org/CreativeWork" itemscope="itemscope">
      <div class="inside-article  ">
        <div class="aidrop-info-wrapper">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="airdrop-logo-thumbnail">
                <img class="airdrop-logo" src="/static/img/shuai.gif" alt="">
                <div class="airdrop-info">
                  <ul>
                    <li></li>
                    <li><img width="25px" height="25px" src="/static/img/love/time.svg"></i>年龄: 29</li>
                    <li><img width="25px" height="25px" src="/static/img/love/height.svg"></i>身高: 174 CM</li>
                    <li><img width="20px" height="20px" src="/static/img/love/weight.svg"></i> 体重: 65 KG</li>
                    <li><img width="20px" height="20px" src="/static/img/love/work.svg"></i> 职业: 程序员</li>
                    <li><img width="20px" height="20px" src="/static/img/love/degree.svg"></i> 学历: 硕士</li>
                    <li><img width="20px" height="20px" src="/static/img/love/address.svg"></i> 地址: 北京 - 望京</li>
                    <li><img width="20px" height="20px" src="/static/img/love/home.svg"></i> 籍贯: 安徽 - 阜阳</li>
                    <li><img width="20px" height="20px" src="/static/img/love/hobby.svg"></i> 爱好: 事业（为脱单准备）、篮球、健身</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8">
              <span class="drop-features">
              <strong>我的情况</strong>
              <p></p>
              <p>我呢，性格好，脾气好 😝 </p>
              <p>过人的身体素质，八块腹肌，喜欢运动，无不良嗜好，健身养生努力活到一百岁。 </p>
              <p>曾北上求学，南下入过职，如今飘在北京，一个把他乡当故乡的人，打算留北京，不走了。</p>
              </span>
              <p></p>
              <div class="airdrop-guide">
                <strong>奢望的另一半</strong>
                <p>
                  <ul>
                    <li>高智商（不低于本科）</li>
                    <li>中颜值（合眼缘，157 + 不胖）</li>
                    <li>低资产（开玩笑）</li>
                  </ul>
                </p>
                <p>
                  优选高智商，内在美，魅力无限，聊得来，喜欢跟智慧的人一起进步。颜值合眼缘即可，资产我能挣。
                </p>
                <p>
                  希望能遇到在一起会有轻松、自然、真实的感觉，大家都不是小孩子了，相互能重视对方，珍惜一段感情，希望我们心里有对方，不管遇到问题可以一起共进退，还是更看重人和人之间的相处吧。
                </p>
              </div>
              <div class="airdrop-req">
                <strong>未来规划</strong>
                <p></p>
                <p>走南闯北能独行，读万卷也行万里。</br>
                回到京城有居所，隐居乡下有宅院。</br>
                呼吸不止，学习不停。</br>
                既能狂野运动，也能激荡殿堂。</p>
              </div>
            </div>
          </div> <!-- End grid-80 -->
        </div> <!-- End airdrop-info-wrapper -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="airdrop-conv">
              <p><strong>看看真相</strong></p>
              <img src="/static/img/me.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>

    <div class="contact-me">
      <p></p>
      <p><strong>看完有眼缘扫码 + V</strong></p>
     <img width="200px" height="200px" src="/static/img/Wechat.jpeg" alt="">
    </div>

    <hr style="border-top: 1px solid #040404;">

    <div class="contact-me">
    <h3>留言</h3>
    <p>欢迎吐槽、留言、提问等等。</p>
    <form id="frmContactProfessional_1" class="form-validation col-md-8" action="me/message" method="POST" onsubmit="return check(this)"
    ng-app="myNoteApp" ng-controller="myNoteCtrl" name="myForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
            <!--
            <label for="id_message">留言 </label>
            -->
            <textarea class="form-control" cols="40" rows="7" name="message" ng-model="message" maxlength="250"></textarea>
            </div>
            <input class="btn btn-success" type=submit name="submit1" value="提交" ng-disabled="!myForm.message.$dirty"> 
      </div>
    </div> 
    </div> 
    </article>
  </div>
</div>

<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

<<<end>>>
