<nav itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope" id="site-navigation" class="auto-hide-sticky main-navigation stuckElement" style="z-index: 100;">
			<div class="inside-navigation grid-container grid-parent">
				<form method="get" class="search-form navigation-search" action="https://airdrops.io/">
				<input type="search" class="search-field" value="" name="s" title="Search" autocomplete="off">
			</form>		<div class="mobile-bar-items">
						<span class="search-item" title="Search">
				<a href="#">
					<i class="fa fa-fw fa-search" aria-hidden="true"></i>
					<span class="screen-reader-text">Search</span>
				</a>
			</span>
		</div><!-- .mobile-bar-items -->
						<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
										<span class="mobile-menu">Menu</span>
				</button>
				<div id="primary-menu" class="main-nav"><ul id="menu-primary" class=" menu sf-menu"><li id="menu-item-89" class="logo menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-89"><a href="/">Home</a></li>
<li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113"><a href="/latest/"><i class="fa fa-flash"></i> Latest<span role="button" class="dropdown-menu-toggle" aria-expanded="false" tabindex="-1"></span></a>
<ul class="sub-menu">
	<li id="menu-item-266" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-266"><a href="/twitter/"><i class="fa fa-twitter"></i> Twitter Airdrops</a></li>
	<li id="menu-item-269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269"><a href="/telegram/"><i class="fa fa-telegram"></i> Telegram Airdrops</a></li>
	<li id="menu-item-271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-271"><a href="/facebook/"><i class="fa fa-facebook"></i> Facebook Airdrops</a></li>
</ul>
</li>
<li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a href="/hot/"><i class="fa fa-fire"></i> Hot</a></li>
<li id="menu-item-5357" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5357"><a href="/exclusive/"><i class="fa fa-star"></i> Exclusive Airdrops</a></li>
<li id="menu-item-557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-557"><a href="https://airdrops.io/holders/"><i class="fa fa-cube"></i> Holder Airdrops<span role="button" class="dropdown-menu-toggle" aria-expanded="false" tabindex="-1"></span></a>
<ul class="sub-menu">
	<li id="menu-item-267" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-267"><a href="/bitcoin-holders/"><i class="fa fa-bitcoin"></i> Airdrops for BTC Holders</a></li>
	<li id="menu-item-556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-556"><a href="https://airdrops.io/forks/"><i class="fa fa-code-fork"></i> Forks<span role="button" class="dropdown-menu-toggle" aria-expanded="false" tabindex="-1"></span></a>
	<ul class="sub-menu">
		<li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://airdrops.io/forks/bitcoin/"><i class="fa fa-bitcoin"></i> Bitcoin Forks</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a href="/upcoming/"><i class="fa fa-calendar"></i> Upcoming</a></li>
<li id="menu-item-9111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9111"><a href="https://airdrops.io/faq/"><i class="fa fa-question-circle"></i> FAQ</a></li>
<li id="menu-item-581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-581"><a href="/contact/"><i class="fa fa-envelope"></i> Contact</a></li>
<li class="search-item" title="Search"><a href="#"><i class="fa fa-fw fa-search" aria-hidden="true"></i><span class="screen-reader-text">Search</span></a></li></ul></div>			</div><!-- .inside-navigation -->
		</nav>



