<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>留言成功</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
<div id="main" style='text-align:center'>
  <h2 style='text-align:center'>感谢留言！</h2>
  <br>
  <br>
  <br>
  <br>
  <a href="http://airdropfans.com/me">3秒后跳转回去，或点击立即跳转...</a>
  <script type="text/javascript">
      setTimeout("window.location.href='http://airdropfans.com/me'", 3000);
  </script>
</div>
</body>
</html> 
