 

.text-white {
    color: #fff!important
}

.text-dark-olive {
    color: #364249
}

.text-nevada {
    color: #5f6a72
}
  
.section-break {
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative
}

.section-break--limed-spruce {
    background-color: #58595a;
}

.section-break--jade {
    background-color: #73a9ec;
}
 
 
.service-block {
    position: relative;
    padding-left: 80px
}

.service-block>.image,.service-block>i,.service-block>svg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}
 
.text--white,.text--white:hover {
    margin-top:40px;
    color: #fff;
    text-decoration:none;
}

.bold-h2-link {
    font-weight: 500;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px
}
 
.service-block--check h3,.service-block--check p {
    color: #fff
}

.service-block--check h3 {
    text-transform: none
}
.m-header--fancy{
    font-size: 1.2em;
}
.l-default{
    margin-top:150px;
}
.m-header{
    text-align:center;
    font-size:50px;
    font-weight:300;
}
.m-header--fancy span:before{
     border:1px solid;
}
.m-button{
    margin:20px 0 60px 0;
}
.list-across{
    margin-bottom:50px;
}
