

<footer class="footer margin-top-50p">
  <div class="row">
    <div class="col-sm-6 col-md-2 col-lg-2">
    </div>
    <div class="col-sm-6 col-md-8 col-lg-8">
      <!--
      <p>免责声明:空投粉仅在力所能及的范围之内为用户收集并筛选相关送币空投信息，仅在我们认为必要时提供一些提示，并不对信息及项目承担任何责任。请注意明辨各个项目的风险，一切风险自担，谢谢您的合作。</p>
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <p>空投粉- airdropfans.com © 2018</p>
    </div>
  </div>
</footer>

<script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>

<!-- Isotope javascript -->
<script src="https://cdn.bootcss.com/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>

<!-- Backstretch javascript -->
<script src="https://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

<!-- Appear javascript -->
<script src="https://cdn.bootcss.com/jquery.appear/0.3.3/jquery.appear.min.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="/static/js/template.js"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="/static/js/custom.js"></script>

<script type="text/javascript" src="/static/js/airdrop.js"></script>

