<nav class="header fixed navbar navbar-fixed-top" {{if .IsBlack}} style="background-color:black;"{{end}}>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <div class="header-left clearfix">
          <!-- logo -->
          <div class="logo smooth-scroll">
            <a href="http://www.airdropfans.com"><img id="logo" src="/static/img/logo.png" alt="airdropfans"></a>
          </div>
          <!-- name-and-slogan -->
          <div class="site-name-and-slogan smooth-scroll">
            <div class="site-name"><a href="http://www.airdropfans.com"><font size=4px>AirDropFans</font></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xs-9">
        <!-- header-right start -->
        <div class="header-right clearfix">
          <!-- main-navigation start -->
          <div class="main-navigation animated">
            <!-- navbar start -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!-- Toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <button type="button" class="glyphicon glyphicon-remove" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse tab-megamenu" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li {{if .IsHome}}class="active"{{end}}><a href="/"><i class="fa fa-fire"></i>最火空投</a></li>
                    <li {{if .IsTutorial}}class="active"{{end}}><a href="/">教程</a></li>
                    <!--
                    <li {{if .IsNews}}class="active"{{end}}><a href="/"><i class="fa fa-fire"></i>最火</a></li>
                    <li {{if .IsTechnology}}class="active"{{end}}><a href="/">区块链技术</a></li>
                    -->
                  </ul>
                </div>
              </div>
            </nav>
            <!-- navbar end -->
          </div>
          <!-- main-navigation end -->
        </div>
        <!-- header-right end -->
      </div>
    </div>
  </div>
</nav>
